<ion-grid>
  <ion-row>
    <ion-col col-12>
      <ion-row class="row-style"  (click)="toggle()">
        <ion-col col-5 text-left>
          <div class="term-header">
            Select Flex Event times
          </div>
        </ion-col>
        <ion-col col-6></ion-col>
        <ion-col col-1 text-right>
          <span class="arrow-down">
            <ion-icon name="ios-arrow-down"></ion-icon>
          </span>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col *ngIf="show" col-12 class="pd-bt-2">
      <flex-scheduling [schema]="schema" [model]="model">
      </flex-scheduling>
    </ion-col>
  </ion-row>
</ion-grid>