readonly-label {
    .label-header {
        font-size: 1.4rem;
        padding-left: 0.2rem;
        font-weight: 600;
    }
    .value {
        height: 24px;	color: #000000;	font-family: "Mark Pro";	font-size: 1.4rem;	line-height: 24px;
    }

    .iris-blue {
        color: #00B1BB;
        height: 24px;	font-family: "Mark Pro";	font-size: 1.4rem;	line-height: 24px;
    }
}