toggle-mono {
    ion-col.border-right.col {
        border-right: 1px solid #D1D7DA;
    }

    ion-col.container-col.col {
        padding: 5px 0 10px 5px;
    }

    .vertical-align {
        display: flex !important;
        align-content: center !important;
        align-items: center !important;
    }

    .span-link {
        text-decoration: underline;
        cursor: pointer;
        color: #006280; //color($colors, optusteal) !important;
        font-weight: 600;
        padding-left: 15px;
    }

    @media (max-width: 1480px) {
        .span-link {
            padding-left: 25px;
        }
      }

    .sub-desc {
        padding-left: 2rem;
    }

    .mbsc-ios.mbsc-form {
        background: transparent;
    }

    .mbsc-ios .mbsc-control-w:before,
    .mbsc-ios .mbsc-control-w:after {
        border-top: 0px solid #fff;
        content: "";

    }

    .noinputLabel {
        padding-left: 0rem;
    }

    .flexInput {
        width: 40px;
        height: 30px;
        text-align: center;
        //margin-left: -3rem;
        //margin-top: -5px;
    }

    .flex-minus {
        cursor: pointer;
        font-size: 3.1rem;
    }

    .flex-plus {
        font-size: 2.6rem;
        padding-left: 0.5rem;
        cursor: pointer;
        padding-right: 0.3rem;
    }

    .flexInputGrey {
        width: 40px;
        height: 30px;
        text-align: center;
        //margin-left: -2rem;
        background: #E5E5E5;
    }

    .sub-header {
        font-size: 1.7rem;
        font-family: "Mark Pro Heavy" !important;
    }

    .sub-header-med {
        font-size: 1.5rem;
        font-family: "Mark Pro Heavy" !important;
    }

    .btnRound {
      border-radius: 20px;
      font-family: "Mark Pro Heavy" !important;
    }

    .btnEdit {
        background-color: #fff;
        color: #31758c;
    
        & .button-inner {
            font-family: "Mark Pro Heavy" !important;
        }
    }
    .btnAction{
      min-width: 100%;
    }

    .btn-edit-text {
        font-family: "Mark Pro Heavy" !important;
    }

    .btnSelected {
      background-color: #31758c !important;
      color: #fff !important;
    }
    .left-pad {
      margin-left: 1.2rem;
    }

    .btnEdit:hover {
        background-color: rgb(243, 245, 247) !important;
    }

    .btnSelected:hover {
      background-color: #317570 !important;
  }

  .button-yellow > span, .button-grey> span {
    font-family: "Mark Pro Heavy" !important;
  }

  .button-grey:hover {
    background-color: #d1d7da !important;
}
    // .btnEdit:active {
    //     background-color: #31758c !important;
    //     color: #fff !important;
    // }


    //@media (min-width: 1401px) {
    .counterbar {
        margin-left: -3rem;

        .barTitle {
            margin-top: -3.2rem;
            margin-left: 1.10rem;
            position: absolute;
            z-index: 10;
            color: white;
        }



    }

    li {
        &.active {
            font-weight: bold;
            color: #000;

            // color: #FF6E7E;
            &:before {
                color: #FFF;
                font-weight: bold;
                background-color: #006280;
            }

            &:after {
                background-color: #006280;
            }
        }
    }


    // }



    .font-red {
        color: red;
    }

    .btnAlign {
        margin-top: -5px;
        width: 170px;
        // padding: 0!important;
    }

    .align-flex {
        display: flex;
        align-items: center;
    }

    .sub-heading {
        font-weight: 600;
        font-size: 1.6rem;
    }

    .inputLabel {
        font-weight: bold;
        font-size: 1.4rem;
        padding-left: 2rem;
        padding-right: 0.5rem;
    }

    .white-space-left {
        margin-left: 2rem;
    }

    .small-text {
        font-size: 1rem;
        color: color($colors, optusgrey);
    }

    .iconsign {
        width: 22px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 1rem;
    }

    .toggle-md-secondary.toggle-checked .toggle-icon {
        background-color: color($colors, optuswhite) !important;
    }

    .toggle-md-togglecolor.toggle-checked .toggle-icon {
        background-color: color($colors, optusteal) !important;
    }

    .toggle-md-secondary.toggle-checked .toggle-inner {
        background-color: color($colors, optuswhite) !important;
    }

    .toggle-md-togglecolor.toggle-checked .toggle-inner {
        background-color: color($colors, optuswhite) !important;
    }

    .toggle-md.toggle-checked .toggle-inner {
        -webkit-transform: translate3d(50px, 0, 0);
        transform: translate3d(50px, 0, 0);
    }

    .toggle-md {
        width: 101px;
        height: 84px;
    }

    .toggle-md .toggle-inner {
        width: 50px;
        height: 26px;
        top: 29px;
    }

    .toggle-md .toggle-icon {
        border-radius: 0px;
    }

    .toggle-md .toggle-inner {
        border-radius: 0px;
    }


    ion-checkbox .item-cover {
        width: 5% !important;
    }

    .item[no-lines] {
        height: 1.8em;
        min-height: 1.5em;
    }

    .warning-message {
        margin-top: 0.5rem;
        padding: 1rem 1rem;
        width: 100%;
        background-color: #FEF7D9;
        box-shadow: 0 1px 0 0 #FFD100;
        color: #575859;
        font-family: "Mark Pro";
        font-size: 1.5rem;
        margin-left: 1rem;

        .warning-text {
            padding-left: 2rem;
        }
    }


//html-toggle start
.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 34px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #00a3ad;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #00a3ad;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(35px);
    -ms-transform: translateX(35px);
    transform: translateX(35px);
  }
  
  /*------ ADDED CSS ---------*/
  .on
  {
    display: none;
    left: 30%;
  }
  
  .off 
  {
    left: 70%;
  }
  .on, .off
  {
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
  }
  
  input:checked+ .slider .on
  {display: block;}
  
  input:checked + .slider .off
  {display: none;}
  
  /*--------- END --------*/
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;}
  //html-toggle-end


}