<!-- <div *ngIf="isLoading" class="loader">
  <ion-spinner></ion-spinner>
</div> -->
<!-- <p [innerHTML]="tableauHtml"></p> -->
<!-- <div>
  <iframe [src]="trustedDashboardUrl" frameborder="0" height="700" width="1400" scrolling="no" ></iframe>
</div> -->
<!-- <script>$("#test1").load("https://obionetableau.optus.com.au/#/site/OBiOne/views/SNOWHighPriorityIncidentDashboard/HighPriorityIncidentTracker?:iid=2&output=embed");</script>
<div id="test1"></div>
<div>
  <object data="https://obionetableau.optus.com.au/#/site/OBiOne/views/SNOWHighPriorityIncidentDashboard/HighPriorityIncidentTracker?:iid=2" width="600" height="400">
    <embed src="https://obionetableau.optus.com.au/#/site/OBiOne/views/SNOWHighPriorityIncidentDashboard/HighPriorityIncidentTracker?:iid=2" width="600" height="400"> 
    Error: Embedded data could not be displayed.
  </object>
  <link rel="import" href="http://example.com/elements.html">
</div> -->
