flex-schedule-review {

    .label-sub-med {
        font-size: 1.3rem;
    }
    .color-grey{
        color: color($colors, optusgreyshade2);
    }
    .header {
        font-family: "Mark Pro Heavy" !important;
    }

    
}