topmenu-widget {
  .first-row {
    background-color: color($colors, optusblack);
    margin-left: 0.2em;
    height: 3.4em;
  }
  .menu-second-row {
    margin-top: -0.3em;
    max-height: 3.45em;
  }
  .menu-third-row ion-segment {
    margin-top: -21px!important;
  }
  .arrow-container {
    background-color: transparent;
    display: inline;
  }
  .arrow-up {
    position: absolute;
    z-index: 9999;
    margin-top: 12px;
    margin-left: 20px;
    -webkit-transform: translate(250%, 30%);
    transform: translate(250%, 40%);
    content: "";
    width: 0;
    height: 23px;
    border-style: solid;
    border-width: 0 12px 12px 12px;
    border-color: transparent transparent #e3e9ec transparent;
  }
  .btn-background-silver {
    background-color: #e3e9ec !important;
  }
  .ico-black {
    font-size: 20px;
    display: inline-flex;
    margin-top: 0.3em;
    color: color($colors, optusblack);
  }
  .top-second-row-ion-elem {
    font-size: 13px;
    color: color($colors, optusblack);
    width: 5px;
    line-height: 15px;
    font-weight: 700 !important;
  }
  .triangle {
    width: 0;
    z-index: 9999;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 20px solid #e3e9ec;
    border-bottom: 20px solid transparent;
  }
}
