calendar-widget {
    .mbsc-cal-event-time {
        color: white !important;
        font-family: "Mark Pro" !important;
    }

    .mbsc-cal-event-text {
        min-height: 50px !important;
        color: white !important;
        font-family: "Mark Pro" !important;
    }    
    
    .mbsc-cal-event-color {
        background-color: white;
    }

    .mbsc-cal-event-list {
        border-radius: 7px!important;
    }

}

