graph-widget {
  .mbsc-ios.mbsc-form {
    padding: 2rem 1rem;
    background: #fff;
  }
  .mbsc-btn-group-block {
      padding: 2rem 0;
      background-color: #FDCC08;
      height: 4rem;
  }
  .graph-head {
    width: 100%;
    font-family: "Mark Pro";
    font-size: 2rem;
    text-align: center;
  }
  .graph-container {
    align-content: center;
  }
  .report-message{
    font-size: 1.5rem;
    font-family: "Mark Pro";
  }
}
