
@import "./generic.scss";

@font-face {
  font-family: 'icooptus';
  src:  url('../assets/fonts/icooptus.eot?shos0o');
  src:  url('../assets/fonts/icooptus.eot?shos0o#iefix') format('embedded-opentype'),
    url('../assets/fonts/icooptus.ttf?shos0o') format('truetype'),
    url('../assets/fonts/icooptus.woff?shos0o') format('woff'),
    url('../assets/fonts/icooptus.svg?shos0o#icooptus') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icooptus' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-3g4g:before {
  content: "\e001";
}
.icon-4g:before {
  content: "\e002";
}
.icon-4gplus-stacked:before {
  content: "\e003";
}
.icon-4gplus:before {
  content: "\e004";
}
.icon-activate-service:before {
  content: "\e005";
}
.icon-add-a-second-plan:before {
  content: "\e006";
}
.icon-addons-purchases:before {
  content: "\e007";
}
.icon-address-book:before {
  content: "\e008";
}
.icon-aeroplane:before {
  content: "\e009";
}
.icon-android:before {
  content: "\e00a";
}
.icon-apple:before {
  content: "\e00b";
}
.icon-arrow-down-right-organic-small:before {
  content: "\e040";
}
.icon-arrow-down-right-organic-small2:before {
  content: "\e00c";
}
.icon-arrow-down:before {
  content: "\e00d";
}
.icon-arrow-left-organic:before {
  content: "\e012";
}
.icon-arrow-left-organic2:before {
  content: "\e00e";
}
.icon-arrow-left:before {
  content: "\e00f";
}
.icon-arrow-right-organic:before {
  content: "\e010";
}
.icon-arrow-right:before {
  content: "\e011";
}
.icon-arrow-up:before {
  content: "\e013";
}
.icon-australia-map-outline:before {
  content: "\e014";
}
.icon-backup-storage:before {
  content: "\e015";
}
.icon-banking-finance:before {
  content: "\e016";
}
.icon-battery-empty:before {
  content: "\e017";
}
.icon-battery-full:before {
  content: "\e018";
}
.icon-bell:before {
  content: "\e019";
}
.icon-bill-settings:before {
  content: "\e01a";
}
.icon-billing:before {
  content: "\e01b";
}
.icon-building:before {
  content: "\e01c";
}
.icon-bundles:before {
  content: "\e01d";
}
.icon-business-builder:before {
  content: "\e01e";
}
.icon-business-care:before {
  content: "\e01f";
}
.icon-business-portal:before {
  content: "\e0be";
}
.icon-business-portal2:before {
  content: "\e023";
}
.icon-business-portal3:before {
  content: "\e020";
}
.icon-business-reports:before {
  content: "\e021";
}
.icon-business-sharing:before {
  content: "\e022";
}
.icon-business-think-tank:before {
  content: "\e02d";
}
.icon-business-think-tank2:before {
  content: "\e024";
}
.icon-calendar:before {
  content: "\e068";
}
.icon-calendar2:before {
  content: "\e025";
}
.icon-camera:before {
  content: "\e026";
}
.icon-cart:before {
  content: "\e027";
}
.icon-case-studies:before {
  content: "\e028";
}
.icon-chat-bubble:before {
  content: "\e0c5";
}
.icon-chat-bubble2:before {
  content: "\e029";
}
.icon-cheap-value:before {
  content: "\e02a";
}
.icon-checkout:before {
  content: "\e02b";
}
.icon-claim-credit:before {
  content: "\e02c";
}
.icon-clock:before {
  content: "\e02e";
}
.icon-cloud-data:before {
  content: "\e02f";
}
.icon-cloud-download:before {
  content: "\e030";
}
.icon-concierge:before {
  content: "\e031";
}
.icon-conferencing:before {
  content: "\e032";
}
.icon-confirm-tick:before {
  content: "\e033";
}
.icon-convenient-returns:before {
  content: "\e034";
}
.icon-copyright:before {
  content: "\e035";
}
.icon-coverage-maps:before {
  content: "\e0c8";
}
.icon-coverage-maps2:before {
  content: "\e036";
}
.icon-credit-card:before {
  content: "\e037";
}
.icon-credit-transfer:before {
  content: "\e038";
}
.icon-cross:before {
  content: "\e039";
}
.icon-customer-support:before {
  content: "\e03a";
}
.icon-dashboard:before {
  content: "\e03b";
}
.icon-delivery:before {
  content: "\e03c";
}
.icon-desktop-computer:before {
  content: "\e03d";
}
.icon-dollar-magnify:before {
  content: "\e0e0";
}
.icon-dollar-magnify2:before {
  content: "\e03e";
}
.icon-dollar:before {
  content: "\e03f";
}
.icon-download-pdf:before {
  content: "\e041";
}
.icon-download:before {
  content: "\e042";
}
.icon-edit:before {
  content: "\e043";
}
.icon-education:before {
  content: "\e044";
}
.icon-eligible:before {
  content: "\e045";
}
.icon-email:before {
  content: "\e07e";
}
.icon-email2:before {
  content: "\e046";
}
.icon-enterprise-govt:before {
  content: "\e047";
}
.icon-equals:before {
  content: "\e048";
}
.icon-error-alert:before {
  content: "\e049";
}
.icon-error:before {
  content: "\e04a";
}
.icon-expert-advice:before {
  content: "\e04b";
}
.icon-extras:before {
  content: "\e04c";
}
.icon-facebook:before {
  content: "\e04d";
}
.icon-family-sharing:before {
  content: "\e04e";
}
.icon-faq:before {
  content: "\e0d4";
}
.icon-faq2:before {
  content: "\e04f";
}
.icon-fibre-connectivity:before {
  content: "\e050";
}
.icon-filtering:before {
  content: "\e051";
}
.icon-fixed-line:before {
  content: "\e052";
}
.icon-future-bus-reports:before {
  content: "\e053";
}
.icon-games:before {
  content: "\e054";
}
.icon-global-international:before {
  content: "\e055";
}
.icon-googleplus:before {
  content: "\e056";
}
.icon-handshake:before {
  content: "\e057";
}
.icon-happy-face:before {
  content: "\e058";
}
.icon-hash:before {
  content: "\e059";
}
.icon-headphones:before {
  content: "\e05a";
}
.icon-healthcare:before {
  content: "\e05b";
}
.icon-help-support:before {
  content: "\e05c";
}
.icon-home-wireless-broadband:before {
  content: "\e05d";
}
.icon-home:before {
  content: "\e05e";
}
.icon-hosting:before {
  content: "\e05f";
}
.icon-hourglass:before {
  content: "\e060";
}
.icon-house-my-medium-team:before {
  content: "\e061";
}
.icon-inbound:before {
  content: "\e062";
}
.icon-indent-arrow:before {
  content: "\e063";
}
.icon-industry-insights:before {
  content: "\e064";
}
.icon-infinity:before {
  content: "\e065";
}
.icon-info:before {
  content: "\e066";
}
.icon-instagram:before {
  content: "\e067";
}
.icon-international-minutes:before {
  content: "\e0ba";
}
.icon-international-minutes2:before {
  content: "\e069";
}
.icon-internet-data:before {
  content: "\e06a";
}
.icon-internet:before {
  content: "\e06b";
}
.icon-ipphone:before {
  content: "\e06c";
}
.icon-laptop:before {
  content: "\e06d";
}
.icon-latest-tech:before {
  content: "\e06e";
}
.icon-link-service:before {
  content: "\e06f";
}
.icon-linkedin:before {
  content: "\e070";
}
.icon-loading:before {
  content: "\e071";
}
.icon-log-in:before {
  content: "\e0ab";
}
.icon-log-in2:before {
  content: "\e088";
}
.icon-log-in3:before {
  content: "\e072";
}
.icon-logout:before {
  content: "\e073";
}
.icon-machine-to-machine:before {
  content: "\e07d";
}
.icon-machine-to-machine2:before {
  content: "\e074";
}
.icon-managed-router-services:before {
  content: "\e075";
}
.icon-managed-services:before {
  content: "\e076";
}
.icon-member-services:before {
  content: "\e077";
}
.icon-menu:before {
  content: "\e078";
}
.icon-micro-sim:before {
  content: "\e08b";
}
.icon-micro-sim2:before {
  content: "\e079";
}
.icon-minus:before {
  content: "\e07a";
}
.icon-mobile-arrow-top-left:before {
  content: "\e07b";
}
.icon-mobile-broadband-arrow-top-left:before {
  content: "\e0bd";
}
.icon-mobile-broadband-arrow-top-left2:before {
  content: "\e07c";
}
.icon-mobile-plans:before {
  content: "\e07f";
}
.icon-mobile-share:before {
  content: "\e080";
}
.icon-mobile-tablet-devices:before {
  content: "\e081";
}
.icon-mobile:before {
  content: "\e082";
}
.icon-modem:before {
  content: "\e083";
}
.icon-monitoring:before {
  content: "\e084";
}
.icon-mouse:before {
  content: "\e085";
}
.icon-movie-ticket:before {
  content: "\e086";
}
.icon-music:before {
  content: "\e087";
}
.icon-my-community:before {
  content: "\e089";
}
.icon-my-plan-plus:before {
  content: "\e08a";
}
.icon-nbn-port-1:before {
  content: "\e08c";
}
.icon-nbn-port-2:before {
  content: "\e08d";
}
.icon-nbn-port-3:before {
  content: "\e08e";
}
.icon-nbn-port-4:before {
  content: "\e08f";
}
.icon-nbn-port-tick:before {
  content: "\e090";
}
.icon-nbn-port:before {
  content: "\e091";
}
.icon-network:before {
  content: "\e092";
}
.icon-news-weather:before {
  content: "\e093";
}
.icon-no-sneaky-surprises:before {
  content: "\e094";
}
.icon-notifications:before {
  content: "\e095";
}
.icon-officeapps:before {
  content: "\e096";
}
.icon-online-payment:before {
  content: "\e097";
}
.icon-optus-community:before {
  content: "\e098";
}
.icon-optus-community2:before {
  content: "\e099";
}
.icon-optus-logo:before {
  content: "\e09a";
}
.icon-optus-rewards:before {
  content: "\e0a7";
}
.icon-optus-rewards2:before {
  content: "\e09b";
}
.icon-other:before {
  content: "\e0cc";
}
.icon-other2:before {
  content: "\e09c";
}
.icon-outbound:before {
  content: "\e09d";
}
.icon-paperless-bills:before {
  content: "\e09e";
}
.icon-pause:before {
  content: "\e09f";
}
.icon-phone-satchel:before {
  content: "\e0a0";
}
.icon-phone-search:before {
  content: "\e0a1";
}
.icon-pinterest:before {
  content: "\e0a2";
}
.icon-plans-pricing:before {
  content: "\e0a3";
}
.icon-play:before {
  content: "\e0a4";
}
.icon-plug:before {
  content: "\e0a5";
}
.icon-plus:before {
  content: "\e0a6";
}
.icon-prepay-broadband:before {
  content: "\e0a8";
}
.icon-prepay-mobile:before {
  content: "\e0d6";
}
.icon-prepay-mobile2:before {
  content: "\e0a9";
}
.icon-print:before {
  content: "\e0aa";
}
.icon-quick-forward:before {
  content: "\e0ac";
}
.icon-recharge:before {
  content: "\e0ad";
}
.icon-refresh:before {
  content: "\e0ae";
}
.icon-reliable-network:before {
  content: "\e0af";
}
.icon-roll-over:before {
  content: "\e0b0";
}
.icon-ruler:before {
  content: "\e0b1";
}
.icon-safe-secure-2:before {
  content: "\e0b3";
}
.icon-safe-secure-22:before {
  content: "\e0b2";
}
.icon-satellite:before {
  content: "\e0b4";
}
.icon-satisfaction:before {
  content: "\e0b5";
}
.icon-search-large:before {
  content: "\e0b6";
}
.icon-search-small:before {
  content: "\e0b7";
}
.icon-security:before {
  content: "\e0b8";
}
.icon-settings:before {
  content: "\e0b9";
}
.icon-shared-data:before {
  content: "\e0bb";
}
.icon-shared-services:before {
  content: "\e0bc";
}
.icon-sms-text:before {
  content: "\e0bf";
}
.icon-solutions:before {
  content: "\e0c0";
}
.icon-sound-level-1:before {
  content: "\e0c1";
}
.icon-sound-level-3:before {
  content: "\e0c2";
}
.icon-sound-mute:before {
  content: "\e0c3";
}
.icon-sound:before {
  content: "\e0c4";
}
.icon-speed:before {
  content: "\e0c6";
}
.icon-stop:before {
  content: "\e0c7";
}
.icon-subscribe-1:before {
  content: "\e0ca";
}
.icon-subscribe-12:before {
  content: "\e0c9";
}
.icon-success-alert:before {
  content: "\e0cb";
}
.icon-tablet-usb:before {
  content: "\e0cd";
}
.icon-tablet:before {
  content: "\e0ce";
}
.icon-tailor:before {
  content: "\e0cf";
}
.icon-threat-management:before {
  content: "\e0d0";
}
.icon-tick:before {
  content: "\e0df";
}
.icon-tick2:before {
  content: "\e0d1";
}
.icon-tools-2:before {
  content: "\e0d3";
}
.icon-tools-22:before {
  content: "\e0d2";
}
.icon-track-order:before {
  content: "\e0d5";
}
.icon-tree:before {
  content: "\e0d7";
}
.icon-tv:before {
  content: "\e0d8";
}
.icon-twitter:before {
  content: "\e0d9";
}
.icon-update:before {
  content: "\e0da";
}
.icon-upgrade-your-contract:before {
  content: "\e0db";
}
.icon-upload:before {
  content: "\e0dc";
}
.icon-usage:before {
  content: "\e0dd";
}
.icon-usb:before {
  content: "\e0de";
}
.icon-voice:before {
  content: "\e0e1";
}
.icon-warning-alert:before {
  content: "\e0e2";
}
.icon-warning:before {
  content: "\e0e3";
}
.icon-wholesale:before {
  content: "\e0e4";
}
.icon-wifi-1:before {
  content: "\e0e5";
}
.icon-wifi:before {
  content: "\e0e6";
}
.icon-wishlist:before {
  content: "\e0e7";
}
.icon-world-globe:before {
  content: "\e0e8";
}
.icon-youtube:before {
  content: "\e0e9";
}
.modal-wrapper {
  width: 600px;
  left: calc(50%-(800/2))!important;
}