

<!-- <ion-header>
	<ion-navbar>
		<ion-title class="title">DSCP</ion-title>
	</ion-navbar>
</ion-header> -->
<!-- <ion-header>
		<ion-toolbar>
		 
		  <img class="crossbar"  (click)="dismiss()" src='../../assets/imgs/white-close-bar.JPG'>
			 
		</ion-toolbar>
	  </ion-header>

<ion-content padding>

	<ion-item>
			<span>Please ensure that you mark your traffic with DSCP as per below,<br/> Any DSCP values that are not listed in the table will be treated as Silver-nrt</span>
	</ion-item>
	<img src="../../assets/imgs/dscp1.PNG" width="850px"/>
	
</ion-content> -->
<!-- <ion-header>
		<ion-toolbar>
		 
		  <img class="crossbar"  (click)="dismiss()" src='../../assets/imgs/white-close-bar.JPG'>
			 
		</ion-toolbar>
	  </ion-header> -->

<ion-content padding>
	
	<ion-item>
			<span>Please ensure that you mark your traffic with DSCP as per below. Any DSCP values that <br/> are not listed in the table will be treated as Silver-NRT1</span>
			<img class="crossbar"  (click)="dismiss()" src='../../assets/imgs/white-close-bar.JPG'>
		</ion-item>
	<img src="../../assets/imgs/dscp1.PNG" width="850px"/>
	
</ion-content>